body {
    margin: 0; /*enlever les bordures*/
}
header /*sémantique*/{
    background-image: url(Images/1.jpg);
    background-size: cover; /*pour que image prends tout la place*/
    background-repeat: no-repeat;
    padding: 130px 10px 65px 200px; /*déplacer la div grand parents*/
}
h1{
  margin: 0;
  color: white;
  font-size: 45px;
  font-family: sans-serif;
}
.blocs /*div parents*/ {
    display: flex;
}

.blocs p{
    color: white;
    font-size: 18px;
    font-family: sans-serif;
}

.one /* div enfant 1*/ {
    margin-right: 30px; /*pour séparer le texte au dessus du bouton*/
}

.one button {
    background-color: white;
    color: rgb(20, 20, 20);
    padding: 13px 140px 13px 140px; /* aggrandir le bouton*/
    border: solid 2px white; /*changer texture le button*/
    border-radius: 5px;/* même chose*/
    font-size: 18px;
    font-family: sans-serif;
}
.two button {
    background-color: transparent;
    color: white;
    padding: 13px 140px 13px 140px;
    border: solid 2px white;
    border-radius: 5px;
    font-size: 18px;
    font-family: sans-serif;
}
/*MAIN*/

main /*sémantique*/{
    padding: 70px 0 0 200px; 

}
h3{
    margin: 0%;
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(82, 80, 80);
}
.choice{
    display: flex;
    align-items: flex-end;
}
.choice p{
    font-size: 13px;
    font-family: sans-serif;
    color: rgb(82, 80, 80);
}
input{
    font-size: 20px;
    padding: 10px 20px 10px 15px;
}
.choice input{
    margin-right: 10px;
}
.depart input{
    margin-right:10px;
}
.butt button{
    margin-top: 13px;
    padding: 13px 30px 13px 30px;
    background-color: rgb(240, 80, 62);
    color: white;
    border: solid 3px rgb(240, 80, 62);
    border-radius: 7px;
    font-family: sans-serif;
}
select{
    margin-right: 10px; 
    padding: 13px 30px 13px 30px;
    background: transparent;
}
@media screen and (max-width: 1400px) {
    .blocs{
        flex-direction: column;
    }
    header{
        padding: 70px 0 30px 20px;
    }
    .choice{
        display: block;
    }
    main{
        padding: 70px 0 0 20px;
    }

}

/*SECTION*/

.uno /*section*/{
    padding: 40px 0 0 200px;
}

.uno h4{
    margin: 0%;
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(82, 80, 80);
}
.little{
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(82, 80, 80);
}
.blocimage{
    display: flex;
}
.big{
    height: 222px;
    width: 333px;

} 
.profil{
    display: flex;
    
}
.profil img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}
.profil p{
    padding-left: 15px;
}
.image{
    padding-right: 15px;
}
.image p{
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(82, 80, 80);
}

/*SECTION 2*/

.dos{
    padding: 40px 0 0 200px;
}

.dos h4{
    margin: 0%;
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(82, 80, 80);
    padding-bottom: 15px;
}
.hr{
    margin: 0;
    padding-right: 600px;
}
.fullinfo{
    display: flex;
    padding: 30px 0 0 0;
}
.fullinfo h5 {
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(82, 80, 80);
}
.info{
    margin-right: 50px;
}
.info img{
    padding-bottom: 13px;
}
.info h5 {
    margin: 0;
}
.info p{
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(82, 80, 80);
}


/*Section 3*/

.tres /*section*/{
    padding: 40px 0 0 200px;
}
.tres h4{
    margin: 0;
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(82, 80, 80);
    padding-bottom: 15px;
}
.fullreserved{
    display: flex;
}
.reserved{
    padding-right: 15px;
}
.pa{
    padding-top: 5px
}
.inf /*image maison*/ {
    height: 200px;
    width: 250px;
    padding-bottom: 5px;
}
.fullreserved h5{
    margin: 0;
    font-family: sans-serif;

}
.fullreserved p{
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(82, 80, 80);
}
.note {
    display: flex;
    padding-top: 10px;
    font-family: sans-serif;
}

/*SECTION QUATRO*/ 

.quatro{
    padding: 40px 0 40px 200px;
}
.quatro h4{
    margin: 0;
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(82, 80, 80);
}
.quatro p{
    margin: 0;
    padding: 5px 0 13px 0;
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(82, 80, 80);
}
.quatro button {
    padding: 15px 30px 15px 30px;
    background-color: rgba(0, 128, 128, 0.726);
    color: white;
    border: solid 3px ;
    border-radius: 7px;
    font-family: sans-serif;
    font-size: 15px;
}

    /*FOOTER*/

footer{
    padding: 20px 0 0 200px;
}
.blocfooter{
    display: flex;
}

.blocfooter ul{
        padding-left: 0px;
        list-style: none;
        font-family: sans-serif;
        color: rgb(136, 132, 132);
}
.blocfooter p{
    color: #484848;
    font-family: sans-serif;
}
.footer1 {
    padding-right:100px;
}
.footer2{
    padding-right:100px;
}
.footer3{
    padding-right: 100px;
}
.footer4{
    padding-top: 20px;
}
footer p{
    margin: 0;
    padding-top: 20px;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(82, 80, 80);
}
.end{
    display: flex;
}

.end button{
    margin-left: 550px; 
    background-color: white;
    border: solid 3px white;
    padding: 10px 25px 10px 25px;

}
.hr3{
    margin: 0;
    padding-right: 600px;
}



@media screen and (max-width: 1400px) {
    header{
        background-image: url(Images/1.jpg) cover;
    }
    .blocs{
        flex-direction: column;
    }
    .choice{
        display: block;
    }
    main{
        padding: 70px 0 0 20px;
    }
    .uno {
        padding: 70px 0 0 20px;
        overflow-y: auto;
    }
    .dos{
        padding: 70px 0 0 20px;
    }
    .tres{
        padding: 70px 0 0 20px;
        overflow-y: auto;
    }
    .quatro{
        padding: 70px 0 0 20px;
    }
    footer {
        padding: 70px 0 0 20px;
    }
    .blocfooter{
        display: block;
    }
    .end{
        display: block;
    }
    .end button{
        margin-left: 0;
    }
    .hr{
        padding-right: 0;
    }

}